<div>
    <mat-toolbar color="primary">
            <span style="text-align: center">User Management</span>
            <span class="spacer"></span>
            <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
    </mat-toolbar>
    
    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item
            (click)="openAboutDialog()">
          <mat-icon>info_outline</mat-icon>
          <span>About</span>
        </button>
    </mat-menu>
</div>

<router-outlet></router-outlet>
