<mat-card>
    <button mat-raised-button color="primary" (click)="loadUserData()">Load User Data</button>
    <button mat-raised-button color="accent" (click)="openUserDialog()"><mat-icon>add_circle_outline</mat-icon> Add new user</button>
    <span style="margin-top: 10px;float:right"
          #tooltip="matTooltip"
          matTooltip="It took to get data: {{dataSource?.took}} ms">
      <mat-icon>info</mat-icon>
    </span>

    <mat-form-field style="margin-top: 10px">
        <input matInput placeholder="Filter" #filter>
    </mat-form-field>

    <div style="margin: 0 auto" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <!-- <div *ngIf="!loadingData && !users.length">There is no data!</div> -->

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" 
      matSort matSortActive="firstName" matSortDirection="asc">
      
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let element" [class.disabled-color]="lastDeletedItem === element.id"> {{element.firstName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let element" [class.disabled-color]="lastDeletedItem === element.id"> {{element.lastName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="birthDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </th>
          <td mat-cell *matCellDef="let element" [class.disabled-color]="lastDeletedItem === element.id"> {{element.birthDate | date}} </td>
        </ng-container>
      
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
          <td mat-cell *matCellDef="let element" [class.disabled-color]="lastDeletedItem === element.id"> {{element.active ? 'Yes' : 'No'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef center> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button
                    (click)="openUserDialog(element.id, element.userId)"
                    [disabled]="lastDeletedItem === element.id"
                    matTooltip="Edit User">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button
                        (click)="openDeleteDialog(element.id, element.firstName, element.lastName)"
                        matTooltip="Delete user"
                        [disabled]="lastDeletedItem === element.id"
                        matTooltipPosition="below">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>

    <mat-paginator [length]="dataSource?.totalResults" [pageSizeOptions]="[50, 100, 200]"></mat-paginator>

</mat-card>