<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <input matInput
                placeholder="First Name"
               formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="Last Name"
               formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="e-mail"
               formControlName="email">
    </mat-form-field>
    <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
    <mat-form-field>
            <input matInput
                    placeholder="Address"
                   formControlName="address">
    </mat-form-field>
    <mat-form-field>
            <input matInput
                    placeholder="Phone Number"
                   formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field>
            <input matInput
                    placeholder="Image"
                   formControlName="imageUrl">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="myDatepicker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker">
        </mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"
            (click)="close()">Close</button>

    <button class="mat-raised-button mat-primary"
            [disabled]="!form.valid"
            (click)="save()">Save</button>
</mat-dialog-actions>