<h1 mat-dialog-title>About</h1>

<mat-dialog-content>
  <div class="about-dialog">User management app</div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button
      color="primary"
      (click)="cancel()">OK</button>

</mat-dialog-actions>