<h1 mat-dialog-title>Delete User Dialog</h1>

<mat-dialog-content>
  <div class="user-delete-dialog">
      <div>Are you sure that you wanna delete this user:</div>
      <span class="user-delete-dialog-names">{{user.firstName}} {{user.lastName}}</span>?
  </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button
      (click)="cancel()">Cancel</button>
      
    <button mat-raised-button color="warn"
      (click)="delete()">Delete</button>
</mat-dialog-actions>